<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link style="width: 16px;" rel="shortcut icon" type="image/png" href="img/favicon.png">
    <title>Diastema | Data Management</title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    
    <!-- BoxIcons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- Font Awesome -->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/> -->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.css" rel="stylesheet"/>
    <!-- Toastr -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>

<body>
    <nav>
        <!-- Logo / Back to home -->
        <a href="/" id="logo">
            <div class="logo-name">
                
                <div class="logo-image">
                    <img src="img/ICON.png" alt="">
                </div>
                
                <span class="logo_name">Diastema</span>    
                
            </div>
        </a>

        <!-- Menu navigation items -->
        <div class="menu-items">
            <ul class="nav-links">
                <li>
                    <a href="/dashboard">
                        <i class='bx bx-layer'></i>
                        <span class="link-name">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/ingestion">
                        <i class='bx bx-import'></i>
                        <span class="link-name">Data Ingestion</span>
                    </a>
                </li>
                <li>
                    <a href="/collected" class="active">
                        <i class='bx bx-data'></i>
                        <span class="link-name">Collected Data</span>
                    </a>
                </li>
                <li>
                    <a href="/pipelines">
                        <i class='bx bx-share-alt' ></i>
                        <span class="link-name">Pipelines</span>
                    </a>
                </li>
                <li>
                    <a href="/functions">
                        <i class='bx bx-code-block'></i>
                        <span class="link-name">Functions</span>
                    </a>
                </li>
                <li>
                    <a href="/savedmodels">
                        <i class='bx bx-network-chart'></i>
                        <span class="link-name">Models</span>
                    </a>
                </li>
                <li>
                    <a href="/visualization">
                        <i class='bx bx-bar-chart-square' ></i>
                        <span class="link-name">Visualization</span>
                    </a>
                </li>
            </ul>


            <div style="background-color: #eef2f7;">
                <div class="logout-border-top">

                </div>
    
                <!-- Logout -->
                <div class="logout-border">
                    <ul class="logout-mode">
                        <li>
                            <a href="/logout">
                                <i class='bx bx-log-out'></i>
                                <span class="link-name">Exit application</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>

    <!-- Main section -->
    <section class="dashboard">
        
        <!-- Top bar -->
        <div class="top">

            <div class="page-title">
                <i class='bx bxs-chevrons-left sidebar-toggle'></i>

                <div class="title">
                    <span class="text">Data Ingestion</span>
                </div>
            </div>

            <div class="user-group">
                <div class="user-title">
                    <!-- Username -->
                    <span><%= user %></span>

                    <!-- Check if org exists, and then if prop exists -->
                    <% if(org){ %>
                        <% if(prop){ %>
                            <p><%= org %> - <%= prop %></p>
                        <% } else { %>
                            <p><%= org %></p>
                        <% } %>
                    <% } %>
                </div>
                
                <img src="<%= img %>">
            </div>
        </div>

        <div class="main-content">

            <div class="inner-padding">
    
                <div class="row" style="height: 100%;margin-bottom:0">

                    <!-- Left column -->
                    <div class="col-md-6" style="height: inherit;">

                        <!-- Collected Datasets -->
                        <div class="card" style="height: 100%;">

                            <div class="card-head">
                                <i class='bx bx-cabinet'></i>
                                <h5 class="card-title">Collected Data</h5>
                            </div>

                            <div class="inner-card-padding" style="height: calc(100% - 81px);">
                                <div class="card-body" style="height: 100%;">

                                    <div class="card-inner">
                                        <% for (var set of datasets) {%>
                                            
                                            <div class="card inner-card">
                                                <div class="card-head" style="padding:4px 24px 34px 24px">
                                                    <i class='bx bx-code' ></i>
                                                    <h5 class="card-title"><%= set.label %></h5>

                                                    <% if ('features' in set["_doc"]) { %>
                                                        <span class="tag" style="margin-left:10px;background-color: #35ad5f;border-radius:50%;width:10px;height:12px"></span>
                                                    <% } else { %>    
                                                        <span class="tag" style="margin-left:10px;background-color: #ab4130;border-radius:50%;width:10px;height:12px"></span>
                                                    <% } %>
                                                    
                                                    <div style="position:absolute;right:24px;display:flex;justify-content: center;align-items: center;">
                                                        <button 
                                                            type="submit" 
                                                            class="btn btn-primary mb-4" 
                                                            style="
                                                                width: 80px;
                                                                font-size:12px;
                                                                margin-right: 13px;
                                                                margin-bottom:0 !important;
                                                                padding-right:0.3rem !important;
                                                                padding-left:0.3rem !important;
                                                                padding-top:0.4rem !important;
                                                                padding-bottom:0.4rem !important"
                                                        >
                                                            Explore
                                                        </button>
                                                        <i 
                                                            style="
                                                                background:none;
                                                                font-size: 21px;
                                                                color: var(--black-light-color);
                                                                margin-right:0px" 
                                                            class='bx bx-trash collected-actions'>
                                                        </i>
                                                    </div>
                                                    
                                                </div>
                                                <div class="card-body">

                                                    <div class="card-text">
                                                        <span class="tag"><b>ID: </b><%= set.ingestationId %></span>

                                                        <span class="tag"><b>Method: </b><%= set.requestData.method %></span>

                                                        <span class="tag"><b>URL: </b><%= set.requestData.url %></span>
                                                    </div>

                                                </div>
                                            </div>
                                        <%}%>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Right column -->
                    <div class="col-md-6" style="height: inherit;">

                        <div class="card" style="height: 100%;">
                            <div class="card-head">
                                <i class='bx bx-code-curly'></i>
                                <h5 class="card-title">Explore Dataset</h5>
                            </div>
                            
                            <div class="inner-card-padding" style="height: calc(100% - 81px);">
                                <div class="card-body" style="height: 100%;">
                                    <p class="card-text">Your dataset will appear here, after pressing the <span class="tag">EXPLORE</span> button.</p>
                                    <div class="tree" style="background-color: #eef2f778;border-radius: 15px;padding: 10px 0 10px 20px;height: calc(100% - 68px);overflow: auto;"></div>
                                </div>
                            </div>
                            
                        </div>

                    </div>

                </div>
                
            </div>
            
        </div>

    </section>

    <script>
        
    </script>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- JSONViewer -->
    <script src="js/jsonview.js"></script>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.js"></script>
    <!-- Toastr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- SocketIO -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.min.js" integrity="sha512-2hIBfT6wur46uR5ayhmyICuA8s15BvJhagB+jZImgktQAy832P7EuY8njl1HGp4YS0Sk8DXRo9dByhvD3jfDxA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script>

        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "3000",
            "extendedTimeOut": "1500",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        // Display toast after save and redirect
        if (sessionStorage.getItem("showmsg")=='1'){
            toastr.info("Request was saved successfully.", "Notification:");
            sessionStorage.removeItem("showmsg");
        }

        // ============================================================
        // Side bar toggle
        // ============================================================

        const body = document.querySelector("body");
        const sidebarToggle = body.querySelector(".sidebar-toggle");
        const sidebar = body.querySelector("nav");

        let getStatus = localStorage.getItem("status");
        if (getStatus && getStatus==="close") {
            sidebar.classList.toggle("close");
        }

        sidebarToggle.addEventListener("click", () => {
            
            $(".sidebar-toggle").toggleClass("rotate");

            sidebar.classList.toggle("close");

            if (sidebar.classList.contains("close")) {
                localStorage.setItem("status", "close");
            } else {
                localStorage.setItem("status", "open");
            }
        });

        // ============================================================
        // FORM SUBMISSION 
        // ============================================================
    </script>

</body>
</html>