<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0, user-scalable=yes"">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link style="width: 16px;" rel="shortcut icon" type="image/png" href="img/favicon.png">
    <title>Diastema | Home</title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- BoxIcons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.css" rel="stylesheet"/>
    
</head>

<body>
    <nav>
        <!-- Logo / Back to home -->
        <a id="logo" href="/">
            <div class="logo-name">
                
                <div class="logo-image">
                    <img src="img/ICON.png" alt="">
                </div>
                
                <span class="logo_name">Diastema</span>    
                
            </div>
        </a>

        <!-- Menu navigation items -->
        <div class="menu-items">
            <ul class="nav-links">
                <li>
                    <a href="/" class="active">
                        <i class='bx bx-layer'></i>
                        <span class="link-name">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/ingestion">
                        <i class='bx bx-import'></i>
                        <span class="link-name">Data Ingestion</span>
                    </a>
                </li>
                <li>
                    <a href="/collected">
                        <i class='bx bx-data'></i>
                        <span class="link-name">Collected Data</span>
                    </a>
                </li>
                <li>
                    <a href="/pipelines">
                        <i class='bx bx-share-alt' ></i>
                        <span class="link-name">Pipelines</span>
                    </a>
                </li>
                <li>
                    <a href="/functions">
                        <i class='bx bx-code-block'></i>
                        <span class="link-name">Functions</span>
                    </a>
                </li>
                <li>
                    <a href="/savedmodels">
                        <i class='bx bx-network-chart'></i>
                        <span class="link-name">Models</span>
                    </a>
                </li>
                <li>
                    <a href="/visualization">
                        <i class='bx bx-bar-chart-square' ></i>
                        <span class="link-name">Visualization</span>
                    </a>
                </li>
            </ul>


            <div style="background-color: #eef2f7;">

                <div class="logout-border-top"></div>
    
                <!-- Logout -->
                <div class="logout-border">
                    <ul class="logout-mode">
                        <li>
                            <a href="/logout">
                                <i class='bx bx-log-out'></i>
                                <span class="link-name">Exit application</span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </nav>

    <!-- Main section -->
    <section class="dashboard">
        
        <!-- Top bar -->
        <div class="top">

            <div class="page-title">
                <i class='bx bxs-chevrons-left sidebar-toggle'></i>

                <div class="title">
                    <span class="text">Dashboard</span>
                </div>
            </div>

            <div class="user-group">
                <div class="user-title">
                    <!-- Username -->
                    <span><%= user %></span>

                    <!-- Check if org exists, and then if prop exists -->
                    <% if(org){ %>
                        <% if(prop){ %>
                            <p><%= org %> - <%= prop %></p>
                        <% } else { %>
                            <p><%= org %></p>
                        <% } %>
                    <% } %>
                </div>
                
                <img src="<%= img %>">
            </div>
        </div>

        <div class="main-content">
            <div class="inner-padding" style="height: 100%;">
    
                <!-- Pipelines and Functions -->
                <div class="row row-cols-md-5 g-3">

                    <!-- General Iformation -->
                    <div class="col">
                        <div class="card">

                            <div class="card-head">
                                <i class='bx bx-info-circle'></i>
                                <h5 class="card-title">Datasets</h5>
                            </div>

                            <div class="inner-card-padding">
                                <div class="card-body">
                                
                                    <p class="card-text" style="font-size: 60px;"><%= datasets.length %></p>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <!-- Pipelines -->
                    <div class="col">
                        <div class="card">

                            <div class="card-head">
                                <i class='bx bx-info-circle'></i>
                                <h5 class="card-title">Pipelines</h5>
                            </div>

                            <div class="inner-card-padding">
                                <div class="card-body">
                                
                                    <p class="card-text" style="font-size: 60px;"><%= pipelines.length %></p>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <!-- Functions -->
                    <div class="col">
                        <div class="card">

                            <div class="card-head">
                                <i class='bx bx-info-circle'></i>
                                <h5 class="card-title">Functions</h5>
                            </div>

                            <div class="inner-card-padding">
                                <div class="card-body">
                                
                                    <p class="card-text" style="font-size: 60px;"><%= functions.length %></p>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <!-- Models -->
                    <div class="col">
                        <div class="card">

                            <div class="card-head">
                                <i class='bx bx-info-circle'></i>
                                <h5 class="card-title">Models</h5>
                            </div>

                            <div class="inner-card-padding">
                                <div class="card-body">
                                
                                    <p class="card-text" style="font-size: 60px;"><%= models.length %></p>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <!-- Results -->
                    <div class="col">
                        <div class="card">

                            <div class="card-head">
                                <i class='bx bx-info-circle'></i>
                                <h5 class="card-title">Results</h5>
                            </div>

                            <div class="inner-card-padding">
                                <div class="card-body">
                                
                                    <p class="card-text" style="font-size: 60px;"><%= results.length %></p>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                </div>

                <!-- Pipelines and Functions -->
                <div class="row row-cols-md-2 g-3" style="height: calc(100% - 221px);margin-bottom:0;">

                    <!-- Pipelines -->
                    <div class="col" style="height: 100%;">
                        
                        <div class="card" style="height: inherit;">

                            <div class="card-head">
                                <i class='bx bx-git-repo-forked' ></i>
                                <h5 class="card-title">Pipelines Created</h5>
                            </div>
                            
                            <div class="inner-card-padding">

                                <div class="card-body" style="height: inherit;">

                                    <div class="card-inner">
                                        <% for (var pipeline of pipelines) {%>
                                            
                                            <div class="card inner-card">
                                                <div class="card-head" style="padding:0 24px 10px 24px">
                                                    <i class='bx bx-git-repo-forked' ></i>
                                                    <h5 class="card-title"><%= pipeline.name %></h5>
                                                </div>
                                                <div class="card-body">
                                                    
                                                    <div class="pipeline-line" style="margin-top:15px">
                                                        <span class="tag"><b>Jobs: </b><%= pipeline.jobs.length %></span>

                                                        <% let sets = [...new Set(pipeline.metadata.datasets)] %>

                                                        <span class="tag"><b>Datasets: </b>
                                                            <% for (var set of sets) {%>
                                                                <%= set %>
                                                            <% } %>
                                                        </span>

                                                        <span class="tag"><b>Date: </b><%= pipeline.metadata["analysis-date"] %></span>

                                                        <% if (pipeline.status == "completed"){ %>
                                                            <span class="tag" style="background-color: #35ad5f;color:white"><%= pipeline.status %></span>
                                                        <% } %>

                                                    </div>

                                                </div>
                                            </div>
                                        <%}%>
                                    </div>
                                    
                                </div>

                            </div>

                        </div>
                    </div>
                    
                    <!-- Functions -->
                    <div class="col" style="height: 100%;">
                        
                        <div class="card" style="height: inherit;">

                            <div class="card-head">
                                <i class='bx bx-code' ></i>
                                <h5 class="card-title">Functions Created</h5>
                            </div>
                            
                            <div class="inner-card-padding">

                                <div class="card-body" style="height: inherit;">

                                    <div class="card-inner">
                                        <% for (var func of functions) {%>
                                            
                                            <div class="card inner-card">
                                                <div class="card-head" style="padding:0 24px 10px 24px">
                                                    <i class='bx bx-code' ></i>
                                                    <h5 class="card-title"><%= func.name %></h5>
                                                </div>
                                                <div class="card-body">

                                                    <div class="pipeline-line" style="margin-top:15px">
                                                        <span class="tag"><b>Arguments: </b><%= func.args.length %></span>

                                                        <span class="tag"><b>Date: </b><%= func.metadata["function-date"] %></span>

                                                        <span class="tag"><b>Output: </b><%= func.output_type %></span>
                                                    </div>

                                                </div>
                                            </div>
                                        <%}%>
                                    </div>
                                    
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
                
            </div>
        </div>

    </section>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.js"></script>

    <script>
        const body = document.querySelector("body");
        const sidebarToggle = body.querySelector(".sidebar-toggle");
        const sidebar = body.querySelector("nav");

        let getStatus = localStorage.getItem("status");
        if (getStatus && getStatus==="close") {
            sidebar.classList.toggle("close");
        }

        sidebarToggle.addEventListener("click", () => {
            
            $(".sidebar-toggle").toggleClass("rotate");

            sidebar.classList.toggle("close");
            
            if (sidebar.classList.contains("close")) {
                localStorage.setItem("status", "close");
            } else {
                localStorage.setItem("status", "open");
            }
        });
    </script>

</body>
</html>