<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link style="width: 16px;" rel="shortcut icon" type="image/png" href="img/favicon.png">
    <title>Diastema | Data Management</title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    
    <!-- BoxIcons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- Font Awesome -->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/> -->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.css" rel="stylesheet"/>
    <!-- Toastr -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>

<body>
    <nav>
        <!-- Logo / Back to home -->
        <a href="/" id="logo">
            <div class="logo-name">
                
                <div class="logo-image">
                    <img src="img/ICON.png" alt="">
                </div>
                
                <span class="logo_name">Diastema</span>    
                
            </div>
        </a>

        <!-- Menu navigation items -->
        <div class="menu-items">
            <ul class="nav-links">
                <li>
                    <a href="/dashboard">
                        <i class='bx bx-layer'></i>
                        <span class="link-name">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/datasets" class="active">
                        <i class='bx bx-file'></i>
                        <span class="link-name">Data Ingestion</span>
                    </a>
                </li>
                <li>
                    <a href="/pipelines">
                        <i class='bx bx-share-alt' ></i>
                        <span class="link-name">Pipelines</span>
                    </a>
                </li>
                <li>
                    <a href="/functions">
                        <i class='bx bx-code-block'></i>
                        <span class="link-name">Functions</span>
                    </a>
                </li>
                <li>
                    <a href="/monitoring">
                        <i class='bx bx-pulse' ></i>
                        <span class="link-name">Monitoring</span>
                        <span class="tag" style="margin-left: 10px; border: 3px solid var(--panel-color);">Soon</span>
                    </a>
                </li>
                <li>
                    <a href="/visualization">
                        <i class='bx bx-bar-chart-square' ></i>
                        <span class="link-name">Visualization</span>
                        <span class="tag" style="margin-left: 2px; border: 3px solid var(--panel-color);">Soon</span>
                    </a>
                </li>
            </ul>


            <div style="background-color: #eef2f7;">
                <div class="logout-border-top">

                </div>
    
                <!-- Logout -->
                <div class="logout-border">
                    <ul class="logout-mode">
                        <li>
                            <a href="/logout">
                                <i class='bx bx-log-out'></i>
                                <span class="link-name">Exit application</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>

    <!-- Main section -->
    <section class="dashboard">
        
        <!-- Top bar -->
        <div class="top">

            <div class="page-title">
                <i class='bx bxs-chevrons-left sidebar-toggle'></i>

                <div class="title">
                    <span class="text">Data Management Interface</span>
                </div>
            </div>

            <div class="user-group">
                <div class="user-title">
                    <!-- Username -->
                    <span><%= user %></span>

                    <!-- Check if org exists, and then if prop exists -->
                    <% if(org){ %>
                        <% if(prop){ %>
                            <p><%= org %> - <%= prop %></p>
                        <% } else { %>
                            <p><%= org %></p>
                        <% } %>
                    <% } %>
                </div>
                
                <img src="<%= img %>">
            </div>
        </div>

        <div class="main-content">

            <div class="inner-padding">
    
                <div class="row" style="height: 100%;margin-bottom:0">

                    <!-- Left column -->
                    <div class="col-md-7">

                        <div class="card">
                            <div class="card-head">
                                <i class='bx bx-cloud-upload'></i>
                                <h5 class="card-title">Http Request</h5>
                            </div>

                            <div class="inner-card-padding">
                                <div class="card-body" style="padding-top: 10px;">

                                    <form id="ingestion_form" id="form" method="POST">

                                        <div style="display: flex; flex-direction: row; justify-content: space-between;margin-bottom: 8px;">

                                            <div class="input-group form-outline mb-4" style="margin-right: 15px;">
                                                <select name="method" id="method">
                                                    <option>GET</option>
                                                    <option>POST</option>
                                                    <option>PUT</option>
                                                    <option>DELETE</option>
                                                </select>
                                                <input type="text" class="form-control" name="url" id="url" style="margin-top: 3px;font-size: 14px;" required placeholder="Request URL"/>
                                            </div>

                                            <!-- Test button -->
                                            <button type="submit" class="btn btn-primary mb-4" style="font-size:15px;display: inline-block;margin-right: 15px;" id="test_submit">Test</button>

                                            <!-- Submit button -->
                                            <button type="submit" class="btn btn-primary mb-4" style="font-size:15px;display: inline-block;" id="submit">Send</button>
                                        </div>

                                        <hr style="margin-top: 12px !important;">

                                        <!-- Label and ID -->

                                        <div class="row" style="margin-bottom: 32px;">
                                            <div class="col" style="padding-left: 0;">
                                                <!-- Request Label --> 
                                                <p class="card-text">
                                                    <b>Label</b>
                                                </p>
                                                <input type="text" class="form-control" name="label" id="label" style="font-size: 14px" required placeholder="Request Label"/>
                                            </div>

                                            <dv class="col" style="padding-right: 0;">
                                                <!-- Request ID --> 
                                                <p class="card-text">
                                                    <b>Generated ID</b>
                                                </p>
                                                <input type="text" class="form-control" name="ingestion-id" id="ingestion-id" style="font-size: 14px" placeholder="Generated ID" disabled/>
                                            </dv>
                                        </div>

                                        <!-- Parameters and Headers -->
                                        <div class="row">

                                            <div class="col" style="padding-left: 0;">

                                                <!-- Request parameters --> 
                                                <p class="card-text">
                                                    <b>Parameters</b>
                                                </p>

                                                <div id="params_container" style="max-height: 220px;overflow-y: auto;">    
                                                    <div class="input-group mb-3 slot_subclass">
                            
                                                        <input type="text" class="form-control" placeholder="Key" name="slot_name" style="height: auto; background-color: transparent;; font-size: 14px;"/>
                                                        <span class="input-group-text">:</span>
                                                        <input type="text" class="form-control" placeholder="Value" name="slot_value"style="height:auto; background-color:transparent; font-size: 14px;"/>
                                
                                                        <button id="first_param" type="button" class="btn btn-primary" style="margin-bottom: 0px !important;">
                                                            <i class="bx bx-plus-medical"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col" style="padding-right: 0;">

                                                <!-- Request Headers --> 
                                                <p class="card-text">
                                                    <b>Headers</b>
                                                </p>

                                                <div id="headers_container" style="max-height: 220px;overflow-y: auto;">    
                                                    <div class="input-group mb-3 slot_subclass">

                                                        <input type="text" class="form-control" placeholder="Key" name="slot_name" style="height: auto; background-color: transparent; font-size:14px"/>
                                                        <span class="input-group-text">:</span>
                                                        <input type="text" class="form-control" placeholder="Value" name="slot_value"style="height:auto; background-color:transparent; font-size:14px"/>

                                                        <button id="first_header" type="button" class="btn btn-primary" style="margin-bottom: 0px !important;">
                                                            <i class="bx bx-plus-medical"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <!-- Request Body --> 
                                        <p class="card-text">
                                            <span><b>Body</b></span> 
                                            <span onclick="select_body_type(this)" id="body_none" class="tag-request-body selected-body-type" style="margin-left: 10px;">none</span> 
                                            <span onclick="select_body_type(this)" id="body_encoded" class="tag-request-body">x-www-form-urlencoded</span> 
                                            <span onclick="select_body_type(this)" id="body_raw" class="tag-request-body">raw</span>

                                            <select id="raw_type">
                                                <option value="Text" selected>Text</option>
                                                <option value="JSON">JSON</option>
                                                <option value="HTML">HTML</option>
                                                <option value="XML">XML</option>
                                            </select>
                                        </p>

                                        <textarea style="width: 100%;margin: 5px;font-size: 14px;padding: 10px;display: none;" id="raw_body" rows="4"></textarea>                                        
                                        
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- Collected Datasets -->
                        <div class="card" style="margin-top: 16px; height: inherit;">
                            <div class="card-head">
                                <i class='bx bx-cabinet'></i>
                                <h5 class="card-title">Collected Data</h5>
                            </div>

                            <div class="inner-card-padding">
                                <div class="card-body">
                                    <p class="card-text">This is where your collected data will appear</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Right column -->
                    <div class="col-md-5" style="height: inherit;">

                        <div class="card" style="height: 100%;">
                            <div class="card-head">
                                <i class='bx bx-code-curly'></i>
                                <h5 class="card-title">Request Response</h5>
                            </div>
                            
                            <div class="inner-card-padding" style="height: calc(100% - 81px);">
                                <div class="card-body" style="height: 100%;">
                                    <p class="card-text">This is where the response of your request will appear, by pressing the <span class="tag">TEST</span> button.</p>
                                    <div class="tree" style="background-color: #eef2f778;border-radius: 15px;padding: 10px 0 10px 20px;height: calc(100% - 68px);overflow: auto;"></div>
                                </div>
                            </div>
                            
                        </div>

                    </div>

                </div>
                
            </div>
            
        </div>

    </section>

    <script>
        
    </script>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- JSONViewer -->
    <script src="js/jsonview.js"></script>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.js"></script>
    <!-- Toastr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- SocketIO -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.min.js" integrity="sha512-2hIBfT6wur46uR5ayhmyICuA8s15BvJhagB+jZImgktQAy832P7EuY8njl1HGp4YS0Sk8DXRo9dByhvD3jfDxA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script>

        const socket = io.connect();
        
        let id = Math.random().toString(16).slice(2);
        let body_type = "none";
        $('#ingestion-id').val(id);

        // ===============
        // Side bar toggle
        // ===============

        const body = document.querySelector("body");
        const sidebarToggle = body.querySelector(".sidebar-toggle");
        const sidebar = body.querySelector("nav");

        let getStatus = localStorage.getItem("status");
        if (getStatus && getStatus==="close") {
            sidebar.classList.toggle("close");
        }

        sidebarToggle.addEventListener("click", () => {
            
            $(".sidebar-toggle").toggleClass("rotate");

            sidebar.classList.toggle("close");

            if (sidebar.classList.contains("close")) {
                localStorage.setItem("status", "close");
            } else {
                localStorage.setItem("status", "open");
            }
        });

        // ==============
        // JSON VIEW CODE
        // ==============

        socket.on('JsonViewer', (data) => {

            console.log("Received data from server: ", data);

            // create json tree object
            let tree = jsonview.create(data);

            
            if ( $('.tree').children().length > 0 ) {
                
                $('.tree').empty();
            
                // render tree into dom element
                jsonview.render(tree, document.querySelector('.tree'));
                jsonview.expand(tree);   

            } else {
                // render tree into dom element
                jsonview.render(tree, document.querySelector('.tree'));
                jsonview.expand(tree);   
            }
        });

        socket.on('BadURL', (data) => {

            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "progressBar": true,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "3000",
                "extendedTimeOut": "1500",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }

            toastr.error(data, "Notification");
        });

        // ==================
        // BODY TYPE FUNCTION
        // ==================

        function select_body_type(option) {

            const val = option.innerHTML;
            body_type = val;

            const text_ids = ["#body_raw", "#body_encoded", "#body_none"];
            const content_ids = ["#raw_body", "#x-www-form-urlencoded_body"];

            // Highlight the selected option
            for (let i = 0; i < text_ids.length; i++) {
                if ($(text_ids[i]).hasClass('selected-body-type')) {
                    $(text_ids[i]).removeClass('selected-body-type');
                    $(option).addClass('selected-body-type');
                }
            }

            // Show the selected body type content
            switch (val) {
                case "none":
                    content_ids.forEach((id) => {
                        $(id).hide();
                    });

                    $("#headers_container .input-group:first-child input[name='slot_name']").val("");
                    $("#headers_container .input-group:first-child input[name='slot_value']").val("");

                    $("#raw_type").hide();
                    break;
            
                case "raw":
                    $("#raw_type").show();

                    const type = $("#raw_type").val();
                    
                    switch (type) {
                        case "Text":
                            $("#headers_container .input-group:first-child input[name='slot_name']").val("Content-Type");
                            $("#headers_container .input-group:first-child input[name='slot_value']").val("text/plain");
                            break;
                        case "JSON":
                            $("#headers_container .input-group:first-child input[name='slot_name']").val("Content-Type");
                            $("#headers_container .input-group:first-child input[name='slot_value']").val("application/json");
                            break;
                        case "XML":
                            $("#headers_container .input-group:first-child input[name='slot_name']").val("Content-Type");
                            $("#headers_container .input-group:first-child input[name='slot_value']").val("application/xml");
                            break;
                        case "HTML":
                            $("#headers_container .input-group:first-child input[name='slot_name']").val("Content-Type");
                            $("#headers_container .input-group:first-child input[name='slot_value']").val("text/html");
                            break;
                        default :
                            break;
                    }

                    content_ids.forEach((id) => {
                        if (id === "#raw_body") {
                            $(id).show();
                        } else {
                            $(id).hide();
                        }
                    });

                    break;

                case "x-www-form-urlencoded":
                    $("#raw_type").hide();

                    $("#headers_container .input-group:first-child input[name='slot_name']").val("Content-Type");
                    $("#headers_container .input-group:first-child input[name='slot_value']").val("application/x-www-form-urlencoded");

                    content_ids.forEach((id) => {
                        if (id === "#x-www-form-urlencoded_body") {
                            $(id).show();
                        } else {
                            $(id).hide();
                        }
                    });
                    break;

                default:
                    break;
            }
        }

        // Fill headers with appropriate values according to the selected raw type
        $('#raw_type').on('change', function() {
            const type = this.value;

            switch (type) {
                case "Text":
                    $("#headers_container .input-group:first-child input[name='slot_name']").val("Content-Type");
                    $("#headers_container .input-group:first-child input[name='slot_value']").val("text/plain");
                    break;
                case "JSON":
                    $("#headers_container .input-group:first-child input[name='slot_name']").val("Content-Type");
                    $("#headers_container .input-group:first-child input[name='slot_value']").val("application/json");
                    break;
                case "XML":
                    $("#headers_container .input-group:first-child input[name='slot_name']").val("Content-Type");
                    $("#headers_container .input-group:first-child input[name='slot_value']").val("application/xml");
                    break;
                case "HTML":
                    $("#headers_container .input-group:first-child input[name='slot_name']").val("Content-Type");
                    $("#headers_container .input-group:first-child input[name='slot_value']").val("text/html");
                    break;
                default :
                    break;
            }
        });

        // ====================
        // DELETE SLOT FUNCTION
        // ====================

        function deleteSlot(button) {
            let parent = button.offsetParent;
            console.log(parent);
            $(parent).remove();
        }

        // ==============
        // FORM SUBMISSION 
        // ==============

        $("#ingestion_form").submit(function(e){
            e.preventDefault();
        });

        // Test button
        $('#test_submit').click(function(e){

            const data = gatherData();

            $.post('/datasets/test', { data });
        })

        $('#submit').click(function(e){

            $.post('/datasets', gatherData());
        })

        // Gather data function to be called when the form is submitted
        function gatherData() {

            const url = $("#url").val();
            
            let params = gatherPairs("#params_container");
            let headers = gatherPairs("#headers_container");

            // Loop through params and add them to the url
            let urlWithParams = url
            for (const [key, value] of Object.entries(params)) {
                // if the url already has a ? then add & else add ?
                if (urlWithParams.includes("?")) {
                    urlWithParams += "&"
                } else {
                    urlWithParams += "?"
                }
                urlWithParams += `${key}=${value}`
            }

            let data = {
                method:$("#method").val(),
                url:urlWithParams,
                label:$("#label").val(),
                generated_id:id,
                params:params,
                headers:headers,
                body:body_type
            }

            if (body_type === "raw") {
                data.raw_type = $("#raw_type").val();
                data.body_val = $("#raw_body").val();
            }

            console.log(data);

            return data;
        }

        // Gather pairs function used in the params and headers inputs
        function gatherPairs(container) {
            jsonObj = [];
            let obj = {};
            let slot = container + " > .slot_subclass";

            $(slot).each(function() {
                var slot_name = $(this).find("input[name=slot_name]").val();
                var slot_value = $(this).find("input[name=slot_value]").val();
                item = {};
                item["key"] = slot_name;
                item["value"] = slot_value;
                jsonObj.push(item);
            });

            // Add pairs to params
            jsonObj.forEach(element => {
                let key = element.key
                let val = element.value

                if (key!="" && val!="") {
                    obj[key] = val
                }
            });

            return obj;
        };

        $("#first_param").click(() => {
            $("#params_container").append('<div class="input-group mb-3 slot_subclass"><input type="text" class="form-control" placeholder="Key" name="slot_name" style="height: auto; background-color: transparent; font-size:14px"/><span class="input-group-text">:</span><input type="text" class="form-control" placeholder="Value" name="slot_value" style="height:auto; background-color:transparent; font-size:14px"/><i class="bx bx-x delete-slot" onclick="deleteSlot(this)"></i><button type="button" class="btn add_param" style="color: white;margin-bottom: 0px !important;"><i class="bx bx-plus-medical"></i></button></div>')
        });

        $(document).on("click", "button.add_param", () => {
            $("#params_container").append('<div class="input-group mb-3 slot_subclass"><input type="text" class="form-control" placeholder="Key" name="slot_name" style="height: auto; background-color: transparent; font-size:14px"/><span class="input-group-text">:</span><input type="text" class="form-control" placeholder="Value" name="slot_value" style="height:auto; background-color:transparent; font-size:14px"/><i class="bx bx-x delete-slot" onclick="deleteSlot(this)"></i><button type="button" class="btn add_param" style="color: white;margin-bottom: 0px !important;"><i class="bx bx-plus-medical"></i></button></div>')
        });

        $("#first_header").click(() => {
            $("#headers_container").append('<div class="input-group mb-3 slot_subclass"><input type="text" class="form-control" placeholder="Key" name="slot_name" style="height: auto; background-color: transparent; font-size:14px"/><span class="input-group-text">:</span><input type="text" class="form-control" placeholder="Value" name="slot_value" style="height:auto; background-color:transparent; font-size:14px"/><i class="bx bx-x delete-slot" onclick="deleteSlot(this)"></i><button type="button" class="btn add_header" style="color: white;margin-bottom: 0px !important;"><i class="bx bx-plus-medical"></i></button></div>')
        });

        $(document).on("click", "button.add_header", () => {
            $("#headers_container").append('<div class="input-group mb-3 slot_subclass"><input type="text" class="form-control" placeholder="Key" name="slot_name" style="height: auto; background-color: transparent; font-size:14px"/><span class="input-group-text">:</span><input type="text" class="form-control" placeholder="Value" name="slot_value" style="height:auto; background-color:transparent; font-size:14px"/><i class="bx bx-x delete-slot" onclick="deleteSlot(this)"></i><button type="button" class="btn add_header" style="color: white;margin-bottom: 0px !important;"><i class="bx bx-plus-medical"></i></button></div>')
        });

    </script>

</body>
</html>