<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link style="width: 16px;" rel="shortcut icon" type="image/png" href="img/favicon.png">
    <title>Diastema | Visualization Interface</title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    
    <!-- BoxIcons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- Font Awesome -->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/> -->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.css" rel="stylesheet"/>
    <!-- Toastr -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>

<body>
    <nav>
        <!-- Logo / Back to home -->
        <a href="/" id="logo">
            <div class="logo-name">
                
                <div class="logo-image">
                    <img src="img/ICON.png" alt="">
                </div>
                
                <span class="logo_name">Diastema</span>    
                
            </div>
        </a>

        <!-- Menu navigation items -->
        <div class="menu-items">
            <ul class="nav-links">
                <li>
                    <a href="/dashboard">
                        <i class='bx bx-layer'></i>
                        <span class="link-name">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/ingestion">
                        <i class='bx bx-import'></i>
                        <span class="link-name">Data Ingestion</span>
                    </a>
                </li>
                <li>
                    <a href="/collected">
                        <i class='bx bx-data'></i>
                        <span class="link-name">Collected Data</span>
                    </a>
                </li>
                <li>
                    <a href="/pipelines">
                        <i class='bx bx-share-alt' ></i>
                        <span class="link-name">Pipelines</span>
                    </a>
                </li>
                <li>
                    <a href="/functions">
                        <i class='bx bx-code-block'></i>
                        <span class="link-name">Functions</span>
                    </a>
                </li>
                <li>
                    <a href="/visualization" class="active">
                        <i class='bx bx-bar-chart-square' ></i>
                        <span class="link-name">Visualization</span>
                    </a>
                </li>
            </ul>


            <div style="background-color: #eef2f7;">
                <div class="logout-border-top">

                </div>
    
                <!-- Logout -->
                <div class="logout-border">
                    <ul class="logout-mode">
                        <li>
                            <a href="/logout">
                                <i class='bx bx-log-out'></i>
                                <span class="link-name">Exit application</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>

    <!-- Main section -->
    <section class="dashboard">
        
        <!-- Top bar -->
        <div class="top">

            <div class="page-title">
                <i class='bx bxs-chevrons-left sidebar-toggle'></i>

                <div class="title">
                    <span class="text">Visualization Interface</span>
                </div>
            </div>

            <div class="user-group">
                <div class="user-title">
                    <!-- Username -->
                    <span><%= user %></span>

                    <!-- Check if org exists, and then if prop exists -->
                    <% if(org){ %>
                        <% if(prop){ %>
                            <p><%= org %> - <%= prop %></p>
                        <% } else { %>
                            <p><%= org %></p>
                        <% } %>
                    <% } %>
                </div>
                
                <img src="<%= img %>">
            </div>
        </div>

        <div class="main-content">

            <div class="inner-padding">
    
                <div class="row" style="height: 100%;margin-bottom:0">

                    <!-- Left column -->
                    <div class="col-md-5" style="height: inherit;">

                        <!-- Collected Datasets -->
                        <div class="card" style="height: 100%;">

                            <div class="card-head">
                                <i class='bx bx-check-double' ></i>
                                <h5 class="card-title">Completed Pipelines</h5>
                            </div>

                            <div class="inner-card-padding" style="height: calc(100% - 81px);">
                                <div class="card-body" style="height: 100%;">

                                    <div class="card-inner">
                                        <% for (var analysis of analytics) {%>
                                            
                                            <div class="card inner-card">
                                                <div class="card-head" style="padding:4px 24px 34px 24px">
                                                    <i class='bx bx-git-repo-forked' ></i>
                                                    <h5 class="card-title"><%= analysis.name %></h5>
                                                    
                                                    <div style="position:absolute;right:24px;display:flex;justify-content: center;align-items: center;">
                                                        <button 
                                                            type="submit" 
                                                            class="btn btn-primary mb-4" 
                                                            style="
                                                                width: 80px;
                                                                font-size:12px;
                                                                margin-right: 13px;
                                                                margin-bottom:0 !important;
                                                                padding-right:0.3rem !important;
                                                                padding-left:0.3rem !important;
                                                                padding-top:0.4rem !important;
                                                                padding-bottom:0.4rem !important"
                                                            onclick="visualizeResults('<%= analysis.analysisid %>')"
                                                        >
                                                            Results
                                                        </button>
                                                        <button 
                                                            type="submit" 
                                                            class="btn btn-primary mb-4" 
                                                            style="
                                                                font-size:12px;
                                                                margin-bottom:0 !important;
                                                                padding-right:0.3rem !important;
                                                                padding-left:0.3rem !important;
                                                                padding-top:0.4rem !important;
                                                                padding-bottom:0.4rem !important"
                                                            onclick="performanceResults('<%= analysis.analysisid %>')"
                                                        >
                                                            Performance
                                                        </button>
                                                    </div>
                                                    
                                                </div>
                                                <div class="card-body">

                                                    <div class="card-text">
                                                        <span class="tag"><b>ID: </b> <%= analysis.analysisid %></span>

                                                        <span class="tag"><b>Org: </b><%= analysis.databaseid %></span>

                                                        <span class="tag"><b>Jobs: </b><%= analysis.jobs.length %></span>
                                                    </div>

                                                </div>
                                            </div>
                                        <%}%>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Right column -->
                    <div class="col-md-7" style="height: inherit;">

                        <div class="card" style="height: 100%;">
                            <div class="card-head">
                                <i class='bx bxs-doughnut-chart' ></i>
                                <h5 class="card-title">Results</h5>
                            </div>
                            
                            <div class="inner-card-padding" style="height: calc(100% - 81px);">
                                <div class="card-body" style="height: 100%;">
                                    <p>Your results will appear below:</p>

                                    <div class="visuals" style="height: calc(100% - 41px);overflow: auto;">
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                    </div>

                </div>
                
            </div>
            
        </div>

    </section>

    <script>
        
    </script>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- JSONViewer -->
    <script src="js/jsonview.js"></script>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.js"></script>
    <!-- Toastr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- SocketIO -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.min.js" integrity="sha512-2hIBfT6wur46uR5ayhmyICuA8s15BvJhagB+jZImgktQAy832P7EuY8njl1HGp4YS0Sk8DXRo9dByhvD3jfDxA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script>

        const socket = io.connect();

        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "3000",
            "extendedTimeOut": "1500",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        // Display toast after save and redirect
        if (sessionStorage.getItem("showmsg")=='1'){
            toastr.info("Request was saved successfully.", "Notification:");
            sessionStorage.removeItem("showmsg");
        }

        // ============================================================
        // Side bar toggle
        // ============================================================

        const body = document.querySelector("body");
        const sidebarToggle = body.querySelector(".sidebar-toggle");
        const sidebar = body.querySelector("nav");

        let getStatus = localStorage.getItem("status");
        if (getStatus && getStatus==="close") {
            sidebar.classList.toggle("close");
        }

        sidebarToggle.addEventListener("click", () => {
            
            $(".sidebar-toggle").toggleClass("rotate");

            sidebar.classList.toggle("close");

            if (sidebar.classList.contains("close")) {
                localStorage.setItem("status", "close");
            } else {
                localStorage.setItem("status", "open");
            }
        });

        // ============================================================
        // VISUALIZE ANALYSIS RESULTS 
        // ============================================================

        // Send analysis-id to backend
        // 1. Get the analysis id
        // 2. Send the id to the visualization endpoint
        function visualizeResults(id) {
            $.ajax({
                url: "/visualization/results/"+id,
                type: "POST",
                success: function (resp) {
                    console.log(resp);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        // Toggle between filters
        // 1. Get the filter name
        // 2. Loop through the children of the filters container
        // 2.1. If the child is not the desired filter, remove the selected class
        // 2.2. If the child is the desired filter, add the selected class
        // 3. Loop through the iframes
        // 3.1. If the filter is "All", show all the iframes
        // 3.2. Else, hide the iframes that belong to the same visualization and do not have the filter name
        function selectFilter(filter, placeholder) {
            const filter_name = ($(filter).html()).toString();
            const id = placeholder.id;
            
            $(placeholder).children().each(function () {
                if (this.innerText !== filter_name) {
                    $(this).removeClass("vis-filter-selected");
                } else {
                    $(this).addClass("vis-filter-selected");
                }
            });

            $('.visuals').children('iframe').each(function () {
                if (filter_name == "All") {
                    $(this).show();
                } else {
                    // Does not belong to the same visualization
                    if (this.id.includes(id) == false) {
                        return
                    // Belongs to the same visualization
                    } else {
                        if (this.id.includes(filter_name.replace(' ','_')) == false) {
                            $(this).hide();
                        } else {
                            $(this).show();
                        }
                    }
                }
            });
        }

        // Recieve files from backend
        // 1. Get the localUrls from the response
        // 2. Check if the display div is already populated
        // 3. Loop through the results array
        // 3.1. Check if the item is a string (title)
        // 3.2. If it is a string, create a div placeholder and a title
        // 3.3. If it is not a string, create a text and append it to the placeholder
        // 3.4. Then, create an iframe and append it to the display div
        // 4. Finally, notify the user that the results are ready
        socket.on('VisResults', (response) => {
            const results = response.localUrls;

            if ( $('.visuals').children().length > 0 ) {
                $('.visuals').empty();
            }

            results.forEach(item => {
                
                if (typeof item === 'string') {

                    const id = item.split(' ')[item.split(' ').length-1];
                    item = item.replace(id,'')

                    $('<h5>', {
                        text: item,
                        style: 'margin-bottom:auto;',
                        class: 'tag'
                    }).appendTo('.visuals');

                    $('<div>', {
                        style: 'display:flex; align-items:left; flex-direction:row;padding:15px 0px 35px 0px;',
                        class: 'vis-title',
                        id: id
                    }).appendTo('.visuals');

                    $('<span>', {
                        text: 'All',
                        class: 'vis-filter vis-filter-selected',
                        onclick: 'selectFilter(this, '+id+')'
                    }).appendTo('#'+id)
                
                } else {
               
                    $('<span>', {
                        text: (item.name).replace('_',' '),
                        class: 'vis-filter',
                        onclick: 'selectFilter(this, '+item.visid+')'
                    }).appendTo('#'+item.visid)

                    $('<iframe>', {
                        src: item.signedUrl,
                        id: item.name+'_'+item.visid,
                        height: '100%',
                        width: '100%',
                        frameborder: 0,
                        scrolling: 'yes'
                    }).appendTo('.visuals');
                }
            })

            toastr.info("Visualizing Analytics Results.", "Notification:");
        })

        socket.on('VisResultsError', (response) => {
            toastr.error(response, "Notification:");
        })

        // ============================================================
        // VISUALIZE PERFORMANCE RESULTS 
        // ============================================================

        // Send analysis-id to backend
        // 1. Get the analysis id
        // 2. Send the id to the visualization endpoint
        function performanceResults(id) {
            $.ajax({
                url: "/visualization/performance/"+id,
                type: "POST",
                success: function (resp) {
                    console.log(resp);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        // Recieve information from backend
        socket.on('PerfResults', (response) => {
            const results = response.services;

            if ( $('.visuals').children().length > 0 ) {
                $('.visuals').empty();
            }

            results.forEach(item => {

                const ramPercentage = ((item['ram-usage'] / item['ram-existing']) * 100).toFixed(2);
                const diskPercentage = ((item['disk-usage'] / 1000) * 100).toFixed(2);

                $('<h5>', {
                    text: uppercaseWords(item.title) + " Service",
                    style: 'margin-bottom:auto;',
                    class: 'tag'
                }).appendTo('.visuals');

                $('<div>', {
                    style: 'display:flex; flex-direction:row;padding:15px 0px 35px 0px;',
                    id: item.id
                }).appendTo('.visuals');

                let content = `
                <table class="table table-striped table-hover" style="width:100%;">
                <tr>
                    <td> <b>Ram Usage:</b> </td> 
                    <td>${item['ram-usage']} MB </td>
                    <td>${ramPercentage} % of total RAM </td> 
                </tr>
                <tr>
                    <td> <b>Disk Usage:</b> </td> 
                    <td>${item['disk-usage']} MB </td>
                    <td>${diskPercentage} % of total DISK SPACE </td> 
                </tr>
                <tr>
                    <td> <b>Execution Speed:</b> </td> 
                    <td>${item['execution-speed']} ms </td>
                    <td></td>
                </tr>
                </table>
                `

                $('#'+item.id).append(content);
            
            })

            toastr.info("Visualizing Performance Results.", "Notification:");
        })

        socket.on('PerfResultsError', (response) => {
            toastr.error(response, "Notification:");
        })

        const uppercaseWords = str => str.replace(/^(.)|\s+(.)/g, c => c.toUpperCase());

    </script>

</body>
</html>